<!doctype html>
<html lang="en">
    <head>
        <title>Automations by MNO PTSOL</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-kind-heart-charity.css') }}">
    </head>

    <body>
        <nav class="navbar bg-light shadow-lg">
            <div class="my_header">
                <a class="navbar-brand" href="http://mnosolutions.pythonanywhere.com/">
                    <img src="{{ url_for('static', filename='css/logo.png') }}" class="logo">
                    <span>
                        Automations by MNO PTSOL
                        <small>Empowering team</small>
                    </span>
                </a>
            </div>
        </nav>

        <main>
            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">Automation Solutions</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="/us_jira" class="d-block">
                                    <img src="{{ url_for('static', filename='css/icon1.png') }}" width="40%" height="40%">

                                    <p class="featured-block-text">Jira task creation for <strong>Platform Solutions IOT</strong></p>
                                </a>
                            </div>
                        </div>

                        <!-- <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="donate.html" class="d-block">
                                    <img src="images/icons/heart.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Caring</strong> Earth</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="donate.html" class="d-block">
                                    <img src="images/icons/receive.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Make a <strong>Donation</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="donate.html" class="d-block">
                                    <img src="images/icons/scholarship.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Scholarship</strong> Program</p>
                                </a>
                            </div>
                        </div> -->

                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="my_header">
                <div class="row">
<!--                    <div class="col-lg-3 col-12 mb-4">-->
<!--                        <img src="{{ url_for('static', filename='css/logo.png') }}" width="30%" height="auto">-->
<!--                    </div>-->

<!--                    <div class="col-lg-2 col-md-6 col-12 mx-auto">-->
<!--                        <h5 class="site-footer-title mb-3">Contact Infomation</h5>-->

<!--                        <p class="text-white d-flex mb-2">-->
<!--                            <i class="bi-telephone me-2"></i>-->

<!--                            <a href="tel: 862-276-6761" class="site-footer-link">-->
<!--                                862-276-6761-->
<!--                            </a>-->
<!--                        </p>-->

<!--                        <p class="text-white d-flex">-->
<!--                            <i class="bi-envelope me-2"></i>-->

<!--                            <a href="mailto:fakhar.ahmad@partner.sea.samsung.com" class="site-footer-link">-->
<!--                                fakhar.ahmad@partner.sea.samsung.com-->
<!--                            </a>-->
<!--                        </p>-->

<!--                        <p class="text-white d-flex mt-3">-->
<!--                            <i class="bi-geo-alt me-2"></i>-->
<!--                            200 Connell Dr, Berkeley heights, NJ, 07922-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </footer>
    </body>
</html>